@import "tailwindcss";

@theme inline {
  --color-primary: #ffb30e;
  --color-primary-light: #ffffff;
  --color-accent: #ff7a7a;
  --color-app-green: #79b93c;
  --color-app-dark: #212121;
  --color-modal-backdrop: rgba(198, 194, 194, 0.52);
  --color-app-gray: #f5f5f5;
  --color-app-dark-gray: #9e9e9e;
}

.button-shadow {
  box-shadow: 0px 20px 40px 0px rgba(255, 174, 0, 0.29);
}
